.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 60px; /* altura do footer */
    background-color: #3597d8;
    color: white;
    text-align: center;
  }
  .path {
    margin-top: 3px;
  }